@media (min-width: 1200px) and (max-width: 1400px) { 
    .feature-content {
        padding-top: 109px;
    }
}

@media (min-width: 320px) and (max-width: 767px) { 
    section.Banner {
        text-align: center;
    }
    section.Banner p {
        margin: 0 auto;
    }
    img.aftertop {
        top: -39px;
    }
    img.screen1,img.screen2{display:none;}
    section.welcomeapp-section {
        padding: 50px 0px;
    }
    section.welcomeapp-section p {
        padding: 20px;;
        font-size: 16px;
    }
    section.appscreens h2 {
        font-size: 42px;
        margin-bottom: 5px;
        margin-top: 30px;
    }
    h2.Myreviews {
        font-size: 45px;
        line-height: 72px;
        padding: 10px 0px 0px;
    }
    section.reviews-section {
        padding: 0px 10px;
    }
    .media.mr-4 {
        margin: 10px;
    }
    .footer img.aftertop {
        top: -29px;
        transform: rotate(0deg);
    }
    section.footer h1 {
        font-size: 24px;
        padding: 30px 0px;
    }
    section.footer {
        padding: 30px 0px 50px;
    }
    }